/* Variables */
:root {
  /* Typography */
  --display-1: 120px;
  --display-2: 72px;
  --display-3: 48px;

  --nav-link-1: 14px;
  --nav-link-2: 12px;
  --nav-link-3: 8px;

  --nav-button: 18px;

  --p-1: 24px;
  --p-2: 20px;
  --p-3: 16px;

  --badge-1: 30px;
  --badge-2: 24px;
  --badge-3: 18px;

  --title-1: 64px;
  --title-2: 50px;
  --title-3: 38px;

  --menu-1: 32px;
  --menu-2: 28px;
  --menu-3: 18px;

  --submenu-1: 16;
  --submenu-2: 14;
  --submenu-3: 10;

  --testi-title: 24px;
  --testi-p: 14px;
  --testi-name: 20px;
  --testi-occupation: 14px;
  --count: 80px;
  --count-category: 24px;
  --event-badge: 12px;
  --event-category: 16px;
  --event-p: 24px;
  --label: 18px;

  --button-padding-1: 24px 48px;
  --button-padding-2: 20px 40px;
  --button-padding-3: 12px 24px;

  --button-1: 24px;
  --button-2: 20px;
  --button-3: 16px;

  /* Font Style */
  --forum: "Forum", cursive;
  --ibm: "IBM Plex Serif", serif;
  --source: "Source Sans 3", sans-serif;

  /* Font Weight */
  --bold: 700;
  --semibold: 600;
  --regular: 400;

  /* Color Style */
  --gold: #ecc892;
  --black: #0e0e0e;
  --white: #fff;
}

/* Utilities */
/* Mouse Style */
* {
  cursor: none !important;
}

.inner-cursor {
  display: none;
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--gold);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 99;
}
.inner-cursor.grow {
  display: none;
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
  mix-blend-mode: difference;
}
.outer-cursor {
  display: none;
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--gold);
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
  z-index: 99;
}

/* ===== Body */
body {
  background-color: var(--black);
}

/* ===== Button */
.btn {
  border-radius: 0px;
  border: 0px;
  text-decoration: none;
  font-family: var(--source);
  font-weight: var(--semibold);
}
.btn-primary {
  background-color: var(--gold);
  color: var(--black);
}
.btn-primary:hover {
  background-color: var(--gold);
  color: var(--black);
}
.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  color: var(--gold);
  border: 3px solid var(--gold);
}
.btn-secondary:hover {
  background-color: var(--gold);
  color: var(--black);
  border: 3px solid var(--gold);
}
a.btn.btn-secondary {
  font-family: var(--source);
  font-weight: var(--semibold);
  font-size: var(--button-3);
  padding: var(--button-padding-3);
  cursor: none;
}
button:hover {
  cursor: none !important;
}

/* ===== Text */
h3 {
  font-size: var(--badge-3);
  font-family: var(--source);
  font-weight: var(--semibold);
  color: var(--gold);
}
h1 {
  font-size: var(--display-3);
  font-family: var(--forum);
  color: var(--white);
}
h2 {
  font-size: var(--title-3);
  font-family: var(--forum);
  color: var(--white);
}
p {
  font-size: var(--p-3);
  font-family: var(--source);
  color: var(--white);
}

/* Navbar Section */
nav {
  background-color: var(--black);
}
nav.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}
a.navbar-brand {
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  color: var(--gold);
  cursor: none;
}
a.navbar-brand:hover {
  color: var(--gold);
}
a.nav-link {
  margin-right: 0;
  margin-top: 24px;
  font-weight: var(--semibold);
  font-size: var(--nav-link-1);
  color: var(--white);
  cursor: none;
}
a.nav-link:hover {
  color: var(--gold);
}
a.nav-link:focus {
  color: var(--gold);
}
#navbarNav a {
  text-align: left;
  font-size: var(--nav-button) !important;
  width: 100%;
  padding: var(--button-padding-3);
  margin-top: 24px;
  cursor: none;
}

/* Hero Section */
.my-hero {
  background-image: url(../img/hero-img.png);
  background-size: cover;
  padding-top: 80px;
}
.my-hero-content {
  padding: 130px 0;
}
.my-hero-display h3 {
  margin-bottom: 64px;
}
.my-hero-display a {
  margin-top: 64px;
}
.my-hero-features {
  display: none;
}
.my-hero-social {
  display: none;
}
.my-hero-social a {
  text-decoration: none;
  color: var(--gold);
  margin-right: 32px;
}
.my-hero-social span {
  background-color: var(--gold);
  padding: auto 0;
  width: 48px;
  height: 2px;
}
.my-hero-social p {
  color: var(--gold) !important;
  font-weight: var(--semibold);
  font-family: var(--source);
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 32px;
}
.my-hero-badge p {
  color: var(--gold) !important;
  border: 2px solid var(--gold);
  padding: 4px 16px;
  font-weight: var(--semibold);
  font-family: var(--source);
  font-size: 18px !important;
  margin-bottom: 0;
}

/* About Section */
section.my-about.container {
  margin: 212px auto;
}
.my-about-img {
  display: flex;
  margin-bottom: 32px;
}
.my-about-img .img-1 {
  position: static;
  width: 48%;
}
.my-about-img .img-2 {
  position: static;
  width: 48%;
  margin-left: 4%;
}
.my-about-border {
  width: 320px;
  height: 600px;
  border: 3px solid var(--gold);
  margin-left: auto;
  margin-right: auto;
}
.my-about-border {
  display: none;
}
div.col-lg-6.my-about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.my-about-content h2 {
  margin-top: 24px;
}
.my-about-content p {
  margin-top: 32px;
}
.my-about-content a {
  margin-top: 48px;
  width: fit-content;
}

/* Special Section */
div.row.my-special-1 {
  flex-direction: column-reverse;
}
div.col-lg-6.my-special-img {
  padding: 12;
}
.my-special-img {
  margin: 48px 0;
}
.my-special-img .img-1 {
  width: 100%;
}
.my-special-img .img-2 {
  width: 100%;
}
.my-special-content {
  padding: 12;
}
.my-special-content h3 {
  margin-bottom: 24px;
}
.my-special-content h2 {
  margin-bottom: 32px;
}
.my-special-content p {
  margin-bottom: 48px;
}

/* Menu Section */
section.my-menu.container {
  margin-top: 240px;
}
.my-menu-header {
  margin-bottom: 72px;
}
.my-menu-header h3 {
  margin-bottom: 24px;
}
.my-menu-wrapper .sepparator {
  width: 100%;
  height: 2px;
  background-color: rgba(225, 225, 225, 0.24);
}
.my-menu-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 32px 0;
  padding: 0;
}
.my-menu-nav button {
  margin: 0 8px;
  text-decoration: none;
  color: var(--white);
  font-family: var(--forum);
  font-size: var(--menu-3);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  cursor: none;
}
.my-menu-nav button:hover {
  color: var(--gold);
}
.my-menu-nav button:focus {
  color: var(--gold);
}
button.is-active {
  color: var(--gold);
}
.my-menu .row {
  padding-top: 80px;
}
.my-menu .menu-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 56px;
}
.my-menu-content {
  border: 3px solid var(--gold);
  padding: 0px 28px 56px 28px;
}
ul {
  padding: 0;
}
.my-menu-content li {
  list-style: none;
  padding-top: 56px;
}
.my-menu-content li .menu-title {
  display: flex;
}

.my-menu-content li .title {
  font-family: var(--forum);
  font-size: var(--menu-3);
  color: var(--white);
  order: 1;
}
.my-menu-content li .menu-title::after {
  background-image: radial-gradient(circle, var(--white), transparent 1.5px);
  background-position: bottom;
  background-size: 1ex 2.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  height: 1em;
  order: 2;
}
.my-menu-content li .price {
  font-family: var(--forum);
  font-size: var(--menu-3);
  color: var(--gold);
  order: 3;
}
h6.ingredients {
  font-family: var(--source);
  font-size: 10px;
  color: var(--gold);
}

.menu-detail__item {
  display: none;
}
.menu-detail__item.is-active {
  display: flex;
}

/* Gallery Section */
.my-gallery {
  margin-bottom: 240px;
}
.my-gallery-header {
  padding-top: 240px;
  padding-bottom: 72px;
}
.my-gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-gallery-img .img-2 {
  padding-top: 24px;
}
.my-gallery-img .img-3 {
  padding-top: 24px;
}
.my-gallery-img .img-4 {
  padding-top: 24px;
}

/* Promo Section */
.my-promo {
  background: url(../img/promo-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  margin-bottom: 240px;
}
div.col-lg-5 {
  padding: 0;
}
.my-promo-wrapper {
  border: 3px solid var(--gold);
  background-color: var(--black);
}
.my-promo-content {
  padding: 28px;
}
.my-promo-content h2 {
  padding: 24px 0px 40px 0px;
}
.my-promo-content a {
  color: var(--gold);
  font-family: var(--source);
  font-weight: var(--semibold);
  font-size: 16px;
  text-decoration: none;
  padding: var(--button-padding-3);
}
.my-promo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.row {
  justify-content: space-between;
}

/* Reservation Section */
.my-reservation {
  margin-bottom: 240px;
}
.my-reservation-header {
  margin-bottom: 64px;
}
.my-reservation-header h3 {
  margin-bottom: 24px;
}
.my-reservation form {
  color: var(--white);
}
.my-reservation form input {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 22px;
  margin-bottom: 25px;
  border-radius: 0;
}
.my-reservation form input:focus {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid #ecc892;
  box-shadow: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.56) !important;
}
.my-reservation form button {
  width: 100%;
  font-size: 24px;
  padding: 24px 0;
}
.my-reservation .row {
  flex-direction: column-reverse;
}

/* map */
iframe {
  width: 100%;
  height: 100%;
}
.mapouter {
  padding: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 24px;
}
.gmap_canvas {
  width: 100%;
  height: 100%;
}
.gmap_canvas iframe {
  position: relative;
  z-index: 2;
}
.gmap_canvas a {
  top: 0;
  z-index: 0;
}

/* Testimonial */
.my-testi {
  background-image: url(../img/testi.png);
  padding-top: 80px;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
}
.my-testi-header h3 {
  margin-bottom: 24px;
}
.my-testi-header h2 {
  margin-bottom: 80px;
}
.testi-content {
  background-color: var(--black);
  padding: 24px 40px;
  margin: 12px 0;
}

.testi-content h5 {
  color: var(--gold);
  font-size: 24px;
  font-weight: var(--bold);
  font-family: var(--source);
  margin-top: 24px;
}
.testi-content p {
  color: var(--white);
  font-size: 14px !important;
  font-family: var(--source);
}
.testi-content .d-flex i.bi.bi-star-fill {
  margin-left: 12px;
}
.testi-content .d-flex {
  margin-top: 24px;
}
.testi-content .d-flex {
  color: var(--gold);
}
.testi-content .d-flex .profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100px;
}
.testi-person {
  padding-left: 16px;
}
.testi-person h6 {
  font-family: var(--source);
  font-weight: var(--bold);
  font-size: 20px;
  margin-bottom: 4px;
}
.testi-person p {
  font-family: var(--source);
  margin: 0;
}

/* Counter Section */
.my-counter {
  margin: 120px 0;
}
.counter {
  border: 2px solid var(--gold);
  padding: 56px 0;
  margin-bottom: 12px;
}
.counter h5 {
  color: var(--gold);
}

/* Event Section */
.my-event {
  margin-bottom: 120px;
}
.my-event-header h3 {
  margin-bottom: 24px;
}
.my-event-header h2 {
  margin-bottom: 80px;
}
.my-event-list h5 {
  font-family: var(--source);
  font-weight: var(--semibold);
  color: var(--gold);
  font-size: 16px;
}
.my-event-list h4 {
  font-family: var(--forum);
  color: var(--white);
  font-size: 24px;
}
.date-label {
  background-color: var(--black);
  color: var(--gold);
  font-family: var(--source);
  font-weight: var(--semibold);
  font-size: 12px;
  width: fit-content;
  padding: 2px;
  margin-bottom: 350px;
}
.event-content-1 {
  border: 3px solid var(--gold);
  background-image: url(../img/event-1.png);
  background-size: cover;
  background-position: center;
  padding: 24px;
  margin-bottom: 12px;
}
.event-content-2 {
  border: 3px solid var(--gold);
  background-image: url(../img/event-2.png);
  background-size: cover;
  background-position: center;
  padding: 24px;
  margin-bottom: 12px;
}
.event-content-3 {
  border: 3px solid var(--gold);
  background-image: url(../img/event-3.png);
  background-size: cover;
  background-position: center;
  padding: 24px;
  margin-bottom: 12px;
}

/* Footer Contact */
.contact-header h3 {
  margin-bottom: 24px;
}
.contact-header h2 {
  margin-bottom: 32px;
}
footer {
  background-image: url(../img/subscribe.png);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
footer .container {
  background-color: var(--black);
  padding: 24px;
}
footer .contact-border {
  border: 1px solid var(--gold);
  padding: 40px 24px;
}
footer form {
  margin: 48px auto;
}
footer form input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
  border: 1px solid var(--gold) !important;
  color: #fff !important;
  padding: 18px 12px !important;
}
footer form input:hover {
  box-shadow: none !important;
}
footer form button {
  height: 100%;
  padding: 8px 16px !important;
}
footer .socmed {
  justify-content: space-around;
  padding: 0;
}
footer .socmed a {
  padding: 8px 19px 16px 19px;
  border: 2px solid var(--gold);
  border-radius: 100px;
  color: var(--gold);
  font-size: 12px;
}
footer .credits {
  margin-top: 48px;
  font-family: var(--source);
  font-size: 16px !important;
}
footer .credits a {
  text-decoration: none;
  color: var(--gold);
  font-weight: var(--semibold);
}
/* Responsive */
/* Desktop */
@media (min-width: 991px) {
  /* Mouse Style */
  .inner-cursor {
    display: block;
  }
  .inner-cursor.grow {
    display: block;
  }
  .outer-cursor {
    display: block;
  }

  a.btn.btn-secondary {
    font-size: var(--button-1);
    padding: var(--button-padding-1);
  }

  /* ===== Text */
  h3 {
    font-size: var(--badge-1) !important;
  }
  h1 {
    font-size: var(--display-1) !important;
  }
  h2 {
    font-size: var(--title-1) !important;
  }
  p {
    font-size: var(--p-1) !important;
  }

  /* Navbar Section */
  a.navbar-brand {
    font-size: 32px;
  }
  nav {
    background-color: rgba(0, 0, 0, 0);
  }
  a.nav-link {
    margin-right: 32px;
    margin-top: 0;
  }
  #navbarNav a {
    margin-top: 0;
    text-align: center;
    width: auto;
  }

  /* Hero Section */
  .my-hero-display a {
    font-size: var(--button-1) !important;
    padding: var(--button-padding-1) !important;
  }
  .my-hero-features {
    display: flex;
    margin-top: 155px;
    justify-content: space-between;
    color: var(--gold);
  }
  .my-hero-social {
    display: flex;
    align-items: center;
  }

  /* About Section */
  .my-about-img {
    display: inline-block;
    margin-bottom: 0;
  }
  .my-about-img .img-1 {
    position: absolute;
    z-index: 2;
    width: 312px;
    height: 354px;
    object-fit: cover;
    margin-top: 11%;
    margin-left: 4%;
  }
  .my-about-img .img-2 {
    position: absolute;
    z-index: 1;
    width: 344px;
    height: 489px;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 11%;
  }
  .my-about-border {
    display: block;
    width: 320px;
    height: 600px;
    border: 3px solid var(--gold);
    margin-left: auto;
    margin-right: auto;
  }

  /* Special Section */
  div.row.my-special-1 {
    flex-direction: row;
  }
  .my-special-img {
    padding: 0;
    margin: 0;
  }
  .my-special-img .img-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .my-special-img .img-2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .my-special-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
  }
  .my-special-content a {
    width: fit-content;
  }

  /* Menu Section */
  .my-menu-nav button {
    font-size: var(--menu-1) !important;
    margin: 0 55px !important;
  }
  .my-menu .menu-img {
    padding-bottom: 0;
  }
  .my-menu-content {
    padding: 24px 56px 80px 56px;
  }
  .my-menu-content li .title {
    font-size: var(--menu-1) !important;
  }
  .my-menu-content li .menu-title::after {
    height: 1.8em;
  }
  .my-menu-content li .price {
    font-size: var(--menu-1) !important;
  }
  h6.ingredients {
    font-size: 16px !important;
  }

  /* Gallery Section */
  .my-gallery-img .img-3 {
    padding-top: 0;
  }
  .my-gallery-img .img-4 {
    padding-top: 0;
  }

  /* Promo Section */
  .my-promo-content {
    padding: 56px 0 56px 56px;
  }
  .my-promo-content a {
    font-size: 20px;
    padding: 40px 0 40px 20px;
  }

  /* Reservation */
  .my-reservation .row {
    flex-direction: row;
  }
  .mapouter {
    margin-bottom: 0;
  }

  /* Testi */
  .testi-content {
    margin: 0;
  }

  /* Counter */
  .counter {
    margin-bottom: 0;
  }

  /* Event */
  .event-content-1 {
    margin-bottom: 0;
  }
  .event-content-2 {
    margin-bottom: 0;
  }
  .event-content-3 {
    margin-bottom: 0;
  }

  /* Footer Content */
  footer .contact-border {
    padding: 80px 156px;
  }
  footer form button {
    padding: 18px 38px !important;
  }
  footer .socmed {
    padding: 0 120px;
  }
  footer .socmed a {
    font-size: 24px;
  }
}
/* Tablet */
@media (min-width: 768px) {
  a.btn.btn-secondary {
    font-size: var(--button-2);
    padding: var(--button-padding-2);
  }

  /* ===== Text */
  h3 {
    font-size: var(--badge-2);
  }
  h1 {
    font-size: var(--display-2);
  }
  h2 {
    font-size: var(--title-2);
  }
  p {
    font-size: var(--p-2);
  }

  /* Navbar Section */
  a.navbar-brand {
    font-size: 25px;
  }

  /* Hero Section */
  .my-hero-display a {
    margin-top: 64px;
    font-size: var(--button-2);
    padding: var(--button-padding-2);
  }

  /* Menu Section */
  .my-menu-nav button {
    font-size: var(--menu-2);
    margin: 0 24px;
  }
  .my-menu-content li .title {
    font-size: var(--menu-2);
  }
  .my-menu-content li .menu-title::after {
    height: 1.8em;
  }
  .my-menu-content li .price {
    font-size: var(--menu-2);
  }
  h6.ingredients {
    font-size: 14px;
  }

  /* Promo Section */
  .my-promo-content a {
    font-size: 20px;
  }

  /* Footer Contact */
  footer .socmed a {
    font-size: 24px;
  }
}
